---
title: Web Engineering at Uncommon
---

<h1 id="home-link"><a href="/">uncommon</a></h1>

<main class="services-section">
    <section class="container article-section article-metadata">
        <div class="content">
            <h1>Web Engineering at Uncommon</h1>

            <p>Having worked with everything from jQuery to Backbone.js to modern-day React and Angular, our Web Engineering team has over a decade and a half of experience building beautiful, fast, and responsive browser apps.</p>

            <h2>Single Page Apps</h2>

            <p>Whether you’re building slick e-commerce experiences, user-friendly SaaS products, visualisations for large datasets, or breaking compelling stories using data and interactivity, we’ve got you covered.</p>

            <p>To deliver these high-quality experiences on the Web, we use React as our view library. We pair it with a selection of high-quality libraries from the burgeoning front-end ecosystem, including a robust state management library such as Redux or MobX.</p>

            <p>We’re deeply familiar with our tooling, which includes Babel, Webpack, TypeScript, Jest, and ESLint. Our tools, combined with our knowledge of software engineering principles, allow us to deliver apps that are well tested, maintainable, extensible, and follow modern best practices.</p>

            <p>We build apps that load fast and are a pleasure to use across a range of devices and network connections — from high-end MacBooks connected to fast WiFi networks, to low-end Android phones with slow CPUs and flaky 3G connections. We do this so your product can reach the widest possible audience across the planet.</p>

            <p>We’ve helped clients such as Insider.in, Adiya Birla Online Fashion, Pratham Books, Adya and Cognitive Match build applications that their users love and use every day.</p>

            <h2>Progressive Web Apps</h2>

            <p>We can super-charge your web experiences by helping you build Progressive Web Apps (PWAs), or by helping you upgrade your existing Web apps to PWAs.</p>

            <p>We’ve built PWAs for our clients to satisfy a variety of business goals: enabling new kinds of offline experiences, improving load times for existing applications, or increasing engagement by allowing users to install Web apps to their phone’s home screens.</p>

            <p>Two examples of our work in this area are Insider.in and StoryWeaver by Pratham Books.</p>

            <h2>Design Systems</h2>

            <p>Having an extensible, reusable design system for your company or product can make all the difference when it comes to rapidly delivering new features in an ever-changing market.</p>

            <p>We can help you build reusable UI components with plain old HTML and CSS, or with a framework of your choice. Our components are modular, reusable, and well documented, which means developers and designers of all skill levels can combine them together to build new experiences. If we’re working with React, we can even deliver the design system as a set of components that work well with React Storybook.</p>

            <p>In the past, we’ve helped Karnataka Learning Partnership build a design system that is used across their Web properties.</p>

            <h2>Web Performance Optimization</h2>

            <p>If you are an online business, your conversion rates are directly linked to how fast your website loads and how fast users can navigate through it thereafter. Every additional second of delay in load time can cause 10% of your users to give up and close your page, negatively affecting your sales.</p>

            <p>Our team has experience profiling and diagnosing performance issues on content-focused websites as well as JavaScript-heavy Web apps built with modern frameworks. We can help you interpret the WebPageTest and Lighthouse scores for your apps, and apply fixes in order to bring them up to recommended standards. We’re also adept at interpreting data from the Chrome CPU and memory profilers, and using it to pinpoint problem areas in your app’s codebase.</p>

            <p>We can review your codebase and JavaScript build pipelines in order to discover performance killers.</p>

            <p>In the past, we’ve worked with Aditya Birla Online Fashion, Insider, and Quintype in order to help them optimise their Web properties.</p>
        </div>
    </section>
</main>