---
title: Myntra Mobile App - Uncommon is helping Myntra
---

<h1 id="home-link"><a href="/">uncommon</a></h1>

<main class="case-study case-study-myntra">
  <header class="hero-section">
    <div class="hero-section-content">
      <div class="article-header">
        <nav class="breadcrumbs">
          <a href="/">Recent Work</a> /
          <span>Myntra: Mobile Apps</span>
        </nav>

        <h1 class="article-title">
          Go 
          <strong>small</strong>
          <em>or</em>
          go <br/>
          home
        </h1>
      </div>
    </div>
  </header>

  <section class="container article-section article-metadata">
    <div class="content">
      <%= partial "metadata.html.markdown" %>
    </div>
  </section>

  <section class="article-section article-text">
    <%= partial "case_study.html.markdown" %>
  </section>
</main>