.breadcrumbs {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 1vw 0 2vw 0;

  @include breakpoint($screen-mobile) {
    color: $black;
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0 12px 0;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.article-section-caption {
  @include span(4);

  .article-screen-list-large & {
    @include span(3);
  }

  .screen-list + &  {
    @include last;
  }


  h2 {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;

    &::after {
      content: "";
      margin-top: 16px;
      display: block;
      position: relative;
      width: span(1 of 4);
      height: 2px;
      background: $black;
    }
  }

  p {
    font-size: 14px;
  }

  .article-screen-large & {

  }

  .article-screen-slideshow & {
    @include pre(4);
    text-align: center;

    h2::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint($screen-tablet) {
    &,
    .article-screen-list-large & {
      @include span(12);
      text-align: center;
    }

    h2::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.article-screen-list .screen-list {
  @include span(8);
}

.article-screen-list-large .screen-list {
  @include span(9);
}

.article-screen-list .article-section-caption + .screen-list,
.article-screen-list .screen-list + .article-section-caption {
  @include last;  
}

.article-screen-large .screen {
  @include span(7);

  @include breakpoint($over-screen-tablet) {
    .iphone-screen {
      float: right;
    }
  }
}

@include breakpoint($screen-tablet) {
  .article-screen-list .screen-list,
  .article-screen-list-large .screen-list,
  .article-screen-large .screen {
    @include span(12);
  }

  .article-screen-list .article-section-caption + .screen-list,
  .article-screen-list .screen-list + .article-section-caption {
    @include first;
  }

}

