.article-listitem {
  display: block;
  clear: both;
  padding-top: 40px;
  overflow: hidden;

  .text {
    @include span(7);
  }

  .screen {
    @include span(5);
    background: transparent image-url("home/myntra_bg.svg") no-repeat top right;
    position: relative;
  }

  .iphone-screen {
    margin: 6px;
  }

  &:nth-child(2n) {
    .text {
      @include last;
    }
  }

  &:nth-child(2n+1) {
    .screen {
      @include last;
    }
  }

  .text {
    padding-top: 12%;

    @include breakpoint($screen-tablet) {
      padding-top: 0%;
    }
  }

  &.article-listitem-mysmartprice {
    .text {
      @include span(5);
    }

    .screen {
      @include span(7);
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 14px;
  }

  h2 {
    font-weight: 600;
    font-size: 36px;
    margin: 16px 0;

    @include breakpoint($screen-tablet) {
      font-size: 27px;
      margin: 12px 0;
    }

    @include breakpoint($screen-tablet) {
      font-size: 24px;
      margin: 8px 0;
    }
  }

  .article-link {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    border-bottom: solid 1px;
    margin-bottom: 12px;

    &::after {
      content: " \00bb";
    }
  }

  @include breakpoint($screen-tablet) {
    padding-top: 20px;

    .text {
      @include span(12);
    }

    .screen {
      @include span(12);
      background-position: top center;
    }

    .iphone-screen {
      margin: 6px auto;
    }
  }

  @include breakpoint($screen-mobile) {
    padding: 40px 0 0 0;

    .text {
      padding-left: 12px;
      padding-right: 12px;
    }

    .iphone-screen {
      left: 50%;
      margin-left: -201px;
    }
  }
}

