.hero-section {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  width: 100%;
  margin: 0;
  padding: 60% 0 0 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;

  .hero-section-content {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.article-section {
  position: relative;
  clear: both;
  
  > .content {
    @include span(12);
  }

  &::before,
  &::after {
    display: block;
    float: left;
    clear: both;

    content: "";
    margin: 3vw 0 3vw span(2 wide);
    border-left: solid 60px $black;
    height: 4px;

    @include breakpoint($screen-tablet) {
      margin: 3vw 0 3vw span(1 wide);
    }
  }

  &::before {
    display: none;
  }

  &:last-child::after {
    height: 0;
  }

  &.article-metadata::before {
    display: block;
    height: 8px;
    margin-left: span(3 wide);

    @include breakpoint($screen-tablet) {
      margin-left: span(1 wide);
    }
  }

  &.article-metadata::after {
    margin-left: span(3 wide);

    @include breakpoint($screen-tablet) {
      margin-left: span(1 wide);
    }
  }
}

.article-metadata .content,
.article-text .content {
  @include prefix(2);
  @include suffix(2);

  &::after {
    margin-left: 0;
  }

  @include breakpoint($screen-tablet) {
    @include prefix(1);
    @include suffix(1);
  }
}

.article-header {
  .article-title,
  .article-subtitle {
    margin: 0;
    padding: 0;
  }
  
  &::before {
    height: 8px;
    left: span(3 wide);
  }

  .content {
    display: block;
    position: absolute;
    top: 0;
    width: span(12);
  }
}

.article-metadata {
  margin-top: 50px;
}

.article-metadata .content {
  @include prefix(3);

  @include breakpoint($screen-tablet) {
    @include prefix(1);
  }

  div {
    @include span(3 of 7);
  }

  h2 {
    font-size: 14px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.article-text .content {
  ul {
    margin: 20px 0;
    padding: 0;

    li {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 6px 18px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 20px;
        width: 12px;
        height: 1px;
        background: black;
      }
    }
  }
}

