.breadcrumbs {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 9px 0 18px 0;

  a {
    color: $white;
    text-decoration: none;
  }
}

.article-section-caption {
  @include span(4);

  h2 {
    display: block;
    position: relative;
    font-size: 18px;
    margin-bottom: 24px;

    &::after {
      content: "";
      margin-top: 16px;
      display: block;
      position: relative;
      width: span(1 of 4);
      height: 2px;
      background: $black;
    }
  }

  p {
    font-size: 14px;
  }

  .article-screen-large & {

  }

  .article-screen-slideshow & {
    @include pre(4);
    text-align: center;

    h2::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.article-screen-list .screen-list {
  @include span(last 8);
}

.article-screen-large .screen {
  @include span(7);

  .iphone-screen {
    float: right;
  }
}

