.image-fullwidth {
  @include span(12);
  margin-top: 8px;
  margin-bottom: 20px;


  // .article-text & {
  //   position: relative;
  //   width: span(12 of 8);
  //   margin: 20px span(-2 wide of 8);
  // }
}

.image-extrawide {
  display: block;
  position: relative;
  width: 120%;
  margin-left: -10%
}