.iphone-screen {
  display: block;
  position: relative;
  overflow: hidden;
  width: 168px;
  height: 342px;
  padding: 40px 11px;
  background: transparent image-url("devices/iphone_small_black.svg") no-repeat top left;
  background-size: auto 100%;

  img {
    height: 260px;
  }
}

.iphone-screen-large {
  width: 292px;
  height: 594px;
  padding: 72px 19px;
  background-image: image-url("devices/iphone_large_white.svg");

  img {
    height: 450px;
    border: solid 2px $black;
    border-radius: 3px;
  }
}