.iphone-screen {
  display: block;
  position: relative;
  width: 220px;
  height: 395px;
  margin: -5px;
  padding: 50px 0 0 39px;
  background: transparent image-url("devices/iphone_small_black.svg") no-repeat top left;

  img {
    height: 260px;
  }
}

.iphone-screen-white {
  background-image: image-url("devices/iphone_small_white.svg");

  img {
    border: solid 2px $black;
  }
}

.iphone-screen-large {
  width: 402px;
  // width: 362px;
  height: 704px;
  padding: 90px 0 0 78px;
  margin: -20px -36px 0 0;
  background-image: image-url("devices/iphone_large_white.svg");

  img {
    height: 450px;
    border: solid 2px $black;
    border-radius: 3px;
  }

  figcaption {
    text-align: center;
  }
}