.screen-list {
  margin: 0;
  padding: 0;

  li {
    display: block;
    float: left;
  }
}

.iphone-screen-list {
  li {
    margin: 0 36px 36px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}