.article-stats {
  display: block;
  position: relative;
  background: $orange-yellow;
  color: $white;
  clear: both;
  top: calc(-3vw - 4px);
  z-index: 20;

  &::after {
    height: 0;
  }

  li {
    display: block;
    list-style-type: none;
    margin: 3vw 0;
    padding: 0;
    @include span(3);
    font-size: 14px;
    line-height: 0.5em;
    text-transform: uppercase;

    &:nth-child(4n) {
      @include last;
    }

    strong {
      font-size: 10vw;
      font-weight: 600;
      display: block;
      line-height: 0.8em;
    }

    span {
      display: block;
      font-size: 3vw;
      padding-top: 2vw;
      line-height: 1em;
      font-weight: 400;
      text-transform: lowercase;
    }
  }
}