.article-listitem-fisdom {
  $primary-color: $blue-with-a-hint-of-purple;

  h3,
  .article-link {
    color: $primary-color;
  }
  .screen {
    background-image: image-url("home/fisdom_bg.svg");
  }
}

body.helping_fisdom {
  background: $gray-xdark;

  #home-link a::before {
    background: $blue-with-a-hint-of-purple;
  }
}

.case-study-fisdom {
  $primary-color: $blue-with-a-hint-of-purple;
  color: $white;

  .hero-section {
    background-image: image-url("fisdom/hero.jpg");
  }

  .article-title,
  .article-subtitle {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
    font-family: $sans;
  }

  .article-title {
    @include span(7);
    font-size: 5vw;
    font-weight: 800;
    line-height: 1.1;

    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
  }

  .article-subtitle {
    @include span(6);
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 400;
    color: $black;
  }

  .breadcrumbs {
    color: $black;
  }

  .breadcrumbs a {
    color: $primary-color;
  }

  @include breakpoint($screen-mobile) {
    .article-title,
    .article-subtitle {
      @include span(12);
      color: $white;
    }

    .article-title {
      font-size: 10vw;
    }

    .breadcrumbs {
      color: $white;    
    }
  }

  .article-metadata h2 {
    color: $white;
  }

  .banner,
  .article-section-caption h2::after {
    background: $red-pink;
  }

  .article-section {
    &::before,
    &::after {
      border-left-color: transparent;
    }
  }

  .article-section.article-metadata {
    &::before,
    &::after {
      border-left-color: $white;
    }
  }

}