.article-listitem-groupon {
  $primary-color: $turtle-green;

  h3,
  .article-link {
    color: $primary-color;
  }

  .screen {
    background-image: image-url("home/groupon_bg.svg");
  }
}

.helping_groupon #home-link a::before {
  background: $red-pink;
}

.case-study-groupon {
  $primary-color: $red-pink;

  .hero-section {
    background-image: image-url("groupon/hero.jpg");
  }

  .article-title,
  .article-subtitle {
    color: $white;
    margin-top: 1.5vw;
    margin-bottom: 0;
    padding: 0;
  }

  .article-title {
    @include span(7);
    line-height: 0.9em;
  }

  .article-subtitle {
    @include span(6);
  }

  .breadcrumbs a,
  .article-metadata h2 {
    color: $primary-color;
  }

  .banner,
  .article-section-caption h2::after {
    background: $primary-color;
  }
}