body.index {
  line-height: 1.8em;
}

.uncommon-intro {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  background: transparent image-url("home/banner_bg.svg") no-repeat center center;
  background-size: 98% 98%;
  
  @include breakpoint($screen-tablet) {
    padding-bottom: 24px;
  }

  @include breakpoint($screen-tablet) {
    padding-bottom: 16px;
  }

  .content {
    display: block;
    position: relative;
    clear: both;

    padding: 80px 270px 120px 270px;
    color: $white;

    @include breakpoint($screen-tablet) {
      padding: 40px 120px 120px 120px;
    }

    @include breakpoint($screen-stablet) {
      padding: 40px 80px 60px 80px;
    }

    @include breakpoint($screen-mobile) {
      padding: 20px 20px 40px 20px;
    }

    a {
      color: tomato;
    }
  }
}

.about {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10vw 0 36vw 0;

  border-top: solid 1px rgba($black, 0.15);
  background: transparent image-url("about/team.jpg") no-repeat bottom center;
  background-size: 100% auto;

  @include breakpoint($screen-stablet) {
    padding-bottom: 160vw;
    background-image: image-url("about/team-mobile.jpg");
  }


  p {
    @include span(8);
    @include pre(1);

    @include breakpoint($screen-stablet) {
      @include span(10);
    }
  }
}

.branches {
  text-align: center;
  text-transform: lowercase;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
  }
}