.uncommon-intro {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
  background: transparent image-url("home/banner_bg.svg") no-repeat top center;
  
  .content {
    display: block;
    position: relative;
    padding: 100px 270px 160px 270px;
    color: $white;

    a {
      color: tomato;
    }
  }
}