.uncommon-intro {
  padding-top: 20px;
  
  .content {
    display: block;
    position: relative;
    padding: 180px 269px;
    color: $white;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0px;
      left: 0;
      z-index: -1;
      background: $black;
      border-radius: 20px;
      transform: rotate(5deg) scale(0.913) skew(12deg);
    }

    a {
      color: tomato;
    }
  }
}