.article-listitem-myntra {
  $primary-color: $teal-blue;

  h3,
  .article-link {
    color: $primary-color;
  }

  .screen {
    background-image: image-url("home/myntra_bg.svg");
  }
}

.helping_myntra #home-link a::before {
  background: $orange-yellow;
}


.case-study-myntra {
  $primary-color: $orange-yellow;

  .hero-section {
    background-image: image-url("myntra/hero.jpg");
  }

  .article-title {
    font-family: $sans;
    font-size: 16vw;
    text-transform: uppercase;
    word-spacing: -0.1em;
    letter-spacing: -0.02em;
    line-height: 0.55em;
    margin-top: 18px;

    &::first-line {
      font-size: 0.66em;
    }

    strong {
      font-weight: 700;
      font-size: 0.5em;
      color: $primary-color;
    }

    em {
      font-weight: 400;
      font-family: $serif;
      font-size: 0.5em;
      text-transform: lowercase;
    }
  } 

  .breadcrumbs {
    color: $black;
  }

  .breadcrumbs a,
  .article-metadata h2 {
    color: $primary-color;
  }

  .banner,
  .article-section-caption h2::after {
    background: $primary-color;
  }
}