$black: #000;
$gray-xdark: #222;
$gray-dark: #1e1e1e;
$white: #fff;

$red-pink: #f2396d;
$tomato: #e23d2f;
$orange-yellow: #fbb61b;
$blue-with-a-hint-of-purple: #512da8;
$teal-blue: #00a1b2;
$turtle-green: #87be5d;