$susy: (
  columns: 12,
  gutters: 1/3,
  math: fluid,
  output: float,
  gutter-position: after,
  box-sizing: border-box,
  container: 960px,
  container-position: center,

  debug: (
    // image: show,
    color: rgba(black, 0.05)
  )
);

@include border-box-sizing;

.article-header,
.article-content {
  @include container;
  padding: 0 gutter();
}