$sans: "Avenir Next", sans-serif; 
$serif: "Chaparral Pro", serif;

body {
  font-family: $sans;
  font-size: 16px;
  color: $gray-dark;
}

h1 {
  font-family: $serif;
  font-size: 66px;
  font-weight: 700;
  line-height: 0.9;
  
}

h2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
}

p,
ul,
ol,
li {
  font-size: 18px;
  line-height: 1.8;
}